div.box {
  width: 50vw;
  margin: 100px auto;
  border: 1px solid #333;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

div.box > h1 {
  border-bottom: 1px solid #333
}

div.box > form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

div.box form > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 0;
}

div.box form > div > * {
  flex-grow: 1;
  flex-basis: 0
}

div.box form > div > div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

div.box form > div > div > select {
  flex-grow: 1;
  flex-basis: 0;
}

div.box form > div > div > small {
  flex-grow: 3;
}

div.box form > div > textarea {
  resize: none;
}

div.box form > div:last-child {
  justify-content: flex-end;
}

div.box form > div > button {
  flex-grow: .3;
}
